body {
    background-color: #DFE1E7;
}

.logo_container {
    display: inline-block;
    position: relative;
    left: 20%;
    font: 2em sans-serif;
    color: #373F51;
}

.topbar_wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 4em;
    background-color: #58A4B0;
    margin: 0 auto;
}

.inputs_container {
    display: flex;
    position: relative;
    left: 10%;
    justify-content: space-around;
    margin: 0 auto;
}

.login_inputs {
    height: 2em;
    margin: 0 2em;
}

.menu {
    display: flex;
}

.menu_element {
    align-self: flex-start;
    position: relative;
    right: 60%;
}

#image_selector {
    display: none;
}

#label {
    display: none;
}

.main-container {
    width: 100%;
    display: flex;
}

.content_wrapper {
    margin: 0 auto;
}

.placeholder {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    color: #76787C;
}

img {
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
}